
<%- include('../partials/header.ejs')%>
<div class="container m-5">
    <h2>Welcome, <%=user.firstName%></h2>
    <%if(events.length) {%>
        <p>You have created these events</p>
        <%events.forEach(event =>{%>
            <a href="/event/<%= event.id%>"><p><%=event.title%></p></a>
            
                <form>
                    <button type="submit" formmethod="GET" formaction="/event/<%= event.id%>/edit">Edit</button>
                    <button type="submit" formmethod="POST"
                        formaction="/event/<%= event.id%>?_method=DELETE">Delete</button>
                    </form>
                
        <%});
    } else {%>
        <p>You have not created any events</p>
    <%}%>
    </div>
    <div class="container m-5">
        <%if(consideredEvents.length) {%>
            <p>You have RSVP'd 'yes' or 'maybe' to these events</p>
            <% consideredEvents.forEach(rsvpEvent =>{%>
                <a href="/event/<%= rsvpEvent.id%>"><p><%=rsvpEvent.title%></p></a>
            <%});
        } else {%>
            <p>You have not RSVP'd to any events</p>
        <%}%>
    </div>
    <%- include('../partials/footer.ejs')%>
