<%- include('../partials/header.ejs') %>

    <div class = "content">
        <% if (events.length) { %>
            <p>Select a event to read</p>
            <% categories.forEach(category =>{ %>
                <h3><%= category %></h3>

                <% events.forEach(element =>{ %>

                    <% if(element.category === category) { %>
                        <a href="/event/<%= element.id %>"><p><%= element.title %></p></a>
    
                    <%};%>
    
    
                <%}); %>


            <%});
        } else { %>
            <p>There are no events to display</p>
        <% } %>
    </div>

<%- include('../partials/footer.ejs') %>